@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Progreso de proyectos</h3>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Sistema de Control de Calidad</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 35%">
                    <span>35%</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">
                    <span>20% </span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 45%">
                    <span>45%</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Sistema de Control de Inventario</h4>

            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 25%">
                    <span>25%</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 35%">
                    <span>35% </span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 40%">
                    <span>40%</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Input Control System</h4>

            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 0%">
                    <span>0%</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 10%">
                    <span>10% </span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 90%">
                    <span>90%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h4>Sistema de Nomina</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 90%">
                    <span>90%</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 0%">
                    <span>0% </span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 10%">
                    <span>10%</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Ouput Control System</h4>

            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 70%">
                    <span>70%</span>
                </div>
                <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 30%">
                    <span>30% </span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: 0%">
                    <span>0%</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Sistema de Gestion de Proyectos</h4>

            <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" style="width:100%;">
                    <span>100%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-md-12">
            <div class="modal-title">
                <h5>Leyenda</h5>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 25%">
                        <span>Completado</span>
                    </div>
                    <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 25%">
                        <span>En Progreso</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 25%">
                        <span>Sin Asignar</span>
                    </div>
                    <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 25%">
                        <span>Terminado</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>