
@{
    ViewBag.Title = "Search";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Buscar informacion Empleados</h2>
            <form method="post">
                <input type="text" maxlength="15" placeholder="Id Empleado" />
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>
</div>
